<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Codam building hours</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">
	<style>
		:root {
			color-scheme: dark;
			font-family: 'Source Code Pro', monospace;
			padding: 0 10px;
		}

		tr {
			border: none;
		}

		td {
			text-align: left;
			/* padding-left: 20px; */
			padding-right: 50px;
			/* border-left: solid 1px rgb(255, 255, 255);  */
			border-left: none;

			border-right: none;
		}

		caption {
			text-align: left;
			text-size-adjust: 200%;
		}

		.number {
			/* text-align: right; */
		}

		.header {
			font-size: 130%;
		}

		table {
    		white-space: nowrap;
		}
	</style>
</head>

<body>

</body>
<h1>Building Hours overview (Beta)</h1>
<h6>
	Hosted and build by Joppe Koers/<a href="https://profile.intra.42.fr/users/jkoers">@jkoers</a>
</h6>


<table class="header">
	<caption>This week</caption>
	<tr style="color:rgb(0, 180, 0)">
		<td>In building</td>
		<td>
			<%= Math.floor(thisWeek.buildingTime).toString().padStart(2, '0' ) %>:<%= Math.floor((thisWeek.buildingTime * 60) % 60).toString().padStart(2, '0' ) %> hours
		</td>

	</tr>
	<!-- <tr style="color:rgb(180, 0, 0)">
		<td>In cluster</td>
		<td>
			<%= Math.floor(thisWeek.clusterTime).toString().padStart(2, '0') %>:<%= Math.floor((thisWeek.clusterTime * 60) % 60).toString().padStart(2, '0') %> hours
		</td>
	</tr> -->

	<tr>
		<td>Start</td>
		<td>
			<%= thisWeek.start %>
		</td>
	</tr>

	<tr>
		<td>End</td>
		<td>
			<%= thisWeek.end %>
		</td>
	</tr>

	<tr>
		<td>Week</td>
		<td>
			<%= thisWeek.n %>
		</td>
	</tr>

</table>
<br>

<% if (reports.length==0) { %>
	Server has not recieved any logtime reports<br>
	Go to <a href="/setup">setup</a> to see how you can forward your logtime report mails
	<br>
	<br>
	<% } %>

<table>
	<caption class="header">This week's summary</caption>
	<% thisWeek.logtimeReports.forEach(report=>{ %>
		<tr>
			<td>
				<%= report.date %>
			</td>
			<td class="number">
				<%= Math.floor(report.buildingTime).toString().padStart(2, '0') %>:<%= Math.floor((report.buildingTime * 60) % 60).toString().padStart(2, '0') %>
			</td>
			<!-- <td>
				<%= Math.floor(report.clusterTime).toString().padStart(2, '0') %>:<%= Math.floor((report.clusterTime * 60) % 60).toString().padStart(2, '0') %>
			</td> -->
		</tr>
		<% }); %>
</table>
<br>
<table>
	<caption class="header">Week history</caption>
	<tr>
		<td>Year</td>
		<td>Week</td>
		<td>Start</td>
		<td>End</td>
		<td>Hours in building</td>
		<!-- <td>Hours in cluster</td> -->
	</tr>

	<% weeks.forEach(week=>{ %>
		<tr>
			<td>
				<%= week.year %>
			</td>
			<td class="number">
				<%= week.week %>
			</td>
			<td>
				<%= week.start %>
			</td>
			<td>
				<%= week.end %>
			</td>
			<td class="number">
				<%= Math.floor(week.buildingTime).toString().padStart(2, '0') %>:<%= Math.floor((week.buildingTime * 60) % 60).toString().padStart(2, '0') %>
			</td>
			<!-- <td>
				<%= Math.floor(week.clusterTime).toString().padStart(2, '0') %>:<%= Math.floor((week.clusterTime * 60) % 60).toString().padStart(2, '0') %>
			</td> -->
		</tr>
		<% }) %>
</table>
<br>
<table>
	<caption class="header">Parsed from these mails</caption>
	<tr>
		<td>Date</td>
		<td>In building</td>
		<!-- <td>In cluster</td> -->
	</tr>
	<% reports.forEach(report=>{ %>
		<tr>
			<td>
				<%= report.date %>
			</td>
			<td class="number">
				<%= Math.floor(report.buildingTime).toString().padStart(2, '0') %>:<%= Math.floor((report.buildingTime * 60) % 60).toString().padStart(2, '0') %>
			</td>
			<!-- <td>
				<%= Math.floor(report.clusterTime).toString().padStart(2, '0') %>:<%= Math.floor((report.clusterTime * 60) % 60).toString().padStart(2, '0') %>
			</td> -->
		</tr>
		<% }); %>
</table>
<br>

<a href="/auth/logout">Logout</a>
<br>

<footer>
	<a href="https://github.com/SirMorfield/codamHours">Source</a>
</footer>
</html>

